* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.head{
  background-image:url("../img/header-background.png");
  background-size: cover;
  width: 100%;
  height: 55px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 500px;
}

.container{
  display: -webkit-flex;
  display: flex;
  position: relative;
}

h1{
  color: white;
}

li{
  color: white;
  display: inline;
  margin: 0 auto;
  margin-right: 40px;
}


body{
  background-color: grey;
  overflow-x:hidden;
}

a{
  color: grey;

}
a:hover{
  color:white;
}
a:visited{
  color: grey;
}

@media screen and (max-width: 500px) {
    li {
        background-color: lightgreen;
    }
}


@media screen and (max-width: 500px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 501px) {
    .dropbtn {
        display: none;
    }
}




@media screen and (max-width: 500px) {
    .dropbtn {
      position: fixed;
     top: 0px !important;
     left: 0px !important;
     background-color: black;
     color: white;
     padding: 17px;
     font-size: 18px;
     border: none;
     cursor: pointer;
   }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: grey;
  }

  /* The container <div> - needed to position the dropdown content */
    .menu {
  position: fixed;
     top: 0px !important;
     left: 0px !important;
    position: relative;
    display: inline-block;
}
    /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        margin-top: 60px;
        top: 0px !important;
        left: 0px !important;
        display: none;
        position: fixed;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

/* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: black}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  }



h2{
  font-size: 15px;
  width: 270px;

}


.main{
  width: 100%;
  background-color: #eee;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main2{
  width: 100%;
  background-color: #eee;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main3{
  width: 100%;
  background-color: #eee;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


.flex{
  background-color: silver;
  border: solid 0.6px red;
  width: 350px;
  color:#fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #333;

}
.first{
  order: 1;
}

.second{
  order: 3;
}

.third{
order:5;
}
.fourth{
order: 2;
}


.fifth{
order: 4;
}


.sixth{
order: 8;
}


.advertenties{
width: 400px;
height: 600px;
}


.img{
  margin-top: 50px;
  width: 90%;
}
.ad{
  height: 100%;
  width: 100%;
  float: left;
}
.articleimg{
  margin: auto;
  margin-left: 120px;
  margin-right: 120px;
}

.article1{
width: 1180px;
}

h3{
margin-top: 50px;
  margin: auto;
}
p{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 40px;
  width: 1100px;
}

.buttons{
  font-size: 18px;
  width:  270px;
}
a.buttons{
  color: red;
}


.hobbyimg{
  float: left;
  margin-left: 50px;
  margin-bottom: 10px;
  height: 440px;
}
